extends layout
block content
  header
    h1 #{title}
  hr
  br
  article
    each p in people
      div 
        a(href= `/dettagli/${p.number}`) #{p.name}
        br
        br
        img(src=`${p.image}`, width= 300, height= 300)
        hr
